<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('./_share/metadata.ejs') %>
  <title>Drama Fan Website</title>
  <%- include('./_share/stylesheets.ejs') %>
</head>
<body>
  <%- include('./_share/navbar.ejs') %>
  .
  <h1>Hello World</h1>
  <%- include('./_share/javascripts.ejs') %>
  <%- include('./_share/footer.ejs') %>
</body>
</html>
