<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('./_share/metadata.ejs') %>
  <title>Drama Fan Website</title>
  <%- include('./_share/stylesheets.ejs') %>
  <link rel="stylesheet" href="/public/stylesheets/index.css">
</head>
<body>
  <div class="wrapper">
    <%- include('./_share/navbar.ejs') %>
    <div class="gallery-container">
      <img src="/public/images/home_image_02.jpg" alt="home-image">
    </div>
    <div class="contents">
      <ul>
        <li><a href="/story">Story</a></li>
        <li><a href="/characters">Characters</a></li>
        <li>ddd</li>
      </ul>
    </div>
    <%- include('./_share/footer.ejs') %>
  </div>
  <%- include('./_share/javascripts.ejs') %>
</body>
</html>
