<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./_share/metadata.ejs') %>
    <title>Story - Drama Fan Website</title>
    <%- include('./_share/stylesheets.ejs') %>
    <link rel="stylesheet" href="/public/stylesheets/story.css" />
  </head>
  <body>
    <%- include('./_share/navbar.ejs') %>
    <div class="text-center bg-warning py-3 mb-5">
      <h1>Story</h1>
      <h6>ストーリー</h6>
    </div>
    <div class="container">
      <div class="story-top-desc">
        <p>
          真面目で大人しく温厚。高校の化学教師ウォルター・ホワイトは、その性格ゆえに家族や友人、自分の生徒たちからも軽んじられていた。しかし彼は波風を立てず、平凡な人生を送っていた。彼の50歳の誕生日翌日、自分が末期ガンを患い余命わずかと知るまでは…。
          アメリカでの放映時にはシーズンが進むに連れて爆発的に視聴者を増やし、最終シーズンは批評サイトで100点中99点という史上最高の評価を得てギネス入りを果たした大ヒットドラマ「ブレイキング・バッド」。主人公ウォルターが別人のように変わっていく過程を、見始めると止まらないテンポの良さで描いています。全5シーズン、62話。
        </p>
      </div>
      <div class="my-5 d-flex justify-content-center">
        <img class="face-icon" src="/public/images/face_icon.png" alt="face_icon" />
      </div>
      <div class="season-container">
        <h3>Season1</h3>
        <img class="season-image" src="/public/images/story/season1.png" alt="Season1" />
        <p>
          真面目が取り柄の高校の化学教師ウォルター・ホワイトは、妊娠中の妻と脳性麻痺の息子を養いながら、決して裕福ではないものの穏やかに平凡に暮らしていた。が、ある日自分が末期の肺ガンで余命わずかだと知る。
        </p>
      </div>
      <div class="season-container">
        <h3>Season2</h3>
        <img class="season-image" src="/public/images/story/season2.png" alt="Season2" />
        <p>
          ウォルターとジェシーは数々のトラブルに巻き込まれながらも、メス製造を続けていた。より多く稼ごうとジェシーの友人3人を売人にして売りさばくようになるが、ある日そのうちの一人バッジャーが警察に捕まってしまう。
        </p>
      </div>
      <div class="season-container">
        <h3>Season3</h3>
        <img class="season-image" src="/public/images/story/season3.png" alt="Season3" />
        <p>
          夫の行動をずっと怪しんでいた妻スカイラーに離婚を言い出され、ウォルターは家族との別居を余儀なくされる。正直に話せば信用を取り戻せるかもしれないと考えたウォルターは事実を告白するが、事態は悪化してしまう。
        </p>
      </div>
      <div class="season-container">
        <h3>Season4</h3>
        <img class="season-image" src="/public/images/story/season4.png" alt="Season4" />
        <p>
          ウォルターとジェシーを警戒し始めたガスは、ラボの監視を強め、二人の間を引き裂こうと画策。ウォルターがメスを製造している間、ガスの部下マイクがジェシーを連れ回すようになり、二人はだんだんと疎遠になっていく。
        </p>
      </div>
      <div class="season-container">
        <h3>Season5</h3>
        <img class="season-image" src="/public/images/story/season5.png" alt="Season5" />
        <p>
          マイクと組んで再びメスビジネスを始めるウォルターとジェシーだったが、ウォルターはかつてガスの部下であった9人に「保証金」を払い続けなければならないことに不満を感じていた。
        </p>
      </div>
    </div>

    <%- include('./_share/footer.ejs') %> <%- include('./_share/javascripts.ejs') %>
  </body>
</html>
